body {
    margin: 0;
    font-family: 'sans-serif';
    display: flex;
}

.list-group {
    position: fixed;
    top: 0;
    left: 0;
    // overflow-x: hidden;
    // z-index: 1;
    // width: 20%;
}

.scrollspy-example {
    margin-left: 18rem;
    display: flex;
    flex-direction: column;
}

